@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 1.25;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}



.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav_img {
    width: 40px;
}

.nav_logo-title {
    font-size: 24px;
    margin-left: 12px;
    font-weight: 1000;
}

.links {
    display: flex;
    align-items: center;
}

.login_links {
    display: flex;
    margin-left: 20px;
}

.link {
    font-size: 14px;
    margin: 0 24px;
    font-weight: 600;
}

.login-btn {
    border: none;
    background-color: white;
    margin-right: 8px;
}

.sign_up-btn {
    border: none;
    color: white;
    background-color: #6415ff;
    padding: 12px 30px;
    border-radius: 30px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header {
    height: 80vh;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_description {
    width: 40%;
}

.header_title{
    font-size: 48px;
    color: black;
    margin-bottom: 30px;
}

.header_para{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.header_email{
    height: 68px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.header_email-input {
    flex: 1;
    font-size: 16px;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    padding: 8px 0 8px 24px;
    border-radius: 75px;
    border: solid rgba(128, 128, 128, 0.11);
    transition: all 300ms ease;
}

.header_email-input:hover {
    border: solid grey;
}


.header_email-btn {
    position: absolute;
    right: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #6415ff; 
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0 36px;
    transition: all 300ms ease;
    margin: 6px;
    height: 52px;
}

.header_email-btn:hover {
    background-color: #243e63;
}

.header_customer-title {
    margin-top: 76px;
    color:#243e63;
    opacity: 0.5;
    font-size: 12px;
    font-weight: bold;
}

.header_description-img {
    height: 35px;
    opacity: 0.5;
    margin-top: 20px;
}

.header_img-wrapper {
    width: 60%;
}

.header_img {
    margin-left: 24px;
    width: 100%;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    font-size: 16px;
    letter-spacing: 2px;
}

.section_subtitle {
    font-size: 48px;
    margin-top: 24px;
    font-weight: 900;
}

.section_para {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.75;
    width: 55%;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
}

.features {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
}

.feature_row {
    display: flex;
    padding: 32px 24px;
}

.feature_img {
    border: solid rgba(128, 128, 128, 0.1);
    border-radius: 50px;
    border-width: 1px;
    padding: 20px;
    height: 68px;
}

.feature_text {
    margin-top: 10px;
    margin-left: 18px;
}

.feature_para {
    margin-top: 20px;
    line-height: 2;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality_description {
    width: 50%;
    margin-right: 60px;
}

.quality_title {
    margin-top: 16px;
    margin-right: 40px;
    line-height: 1.25;
    letter-spacing: 1.5px;
}

.quality_para {
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

.quality_btn {
    color: white;
    font-weight: bold;
    background-color: #6415ff;
    border: none;
    padding: 12px 32px;
    border-radius: 30px;
    margin-top: 32px;
}

.quality_img-wrapper {
    width: 50%;
    margin: 0 60px;
    position: relative;
}

.quality_img {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 4px;
}

.quality_grid {
    width: 80px;
    position: absolute;
    bottom: -35px;
    right: -40px;
    z-index: -1;
    fill: rgb(100, 21, 255)
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps_img-wrapper{ 
    width: 50%;
    position: relative;
}

.steps_img {
    width: 100%;
}

.steps_grid {
    height: 80px;
    fill:rgb(100, 21, 255);
    position: absolute;
    left: 280px;
    bottom: -36px;
    opacity: 0.15;
    z-index: -1;
}

.steps_description {
    width: 50%;
    padding: 32px 0 32px 64px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step_number{
    font-size: 36px;
    font-weight: 600;
    color:rgba(203,213,224);
}

.step_description {
    margin-left: 24px;
    max-width: 320px;
}

.step_title {
    font-size: 20px;
    font-weight: 600;
}

.step_para {
    color: rgb(113, 128, 150);
    font-size: 14px;
    line-height: 28px;
    margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}