@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 1.25;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}



.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav_img {
    width: 40px;
}

.nav_logo-title {
    font-size: 24px;
    margin-left: 12px;
    font-weight: 1000;
}

.links {
    display: flex;
    align-items: center;
}

.login_links {
    display: flex;
    margin-left: 20px;
}

.link {
    font-size: 14px;
    margin: 0 24px;
    font-weight: 600;
}

.login-btn {
    border: none;
    background-color: white;
    margin-right: 8px;
}

.sign_up-btn {
    border: none;
    color: white;
    background-color: #6415ff;
    padding: 12px 30px;
    border-radius: 30px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header {
    height: 80vh;
    position: relative;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_description {
    width: 40%;
}

.header_title{
    font-size: 48px;
    color: black;
    margin-bottom: 30px;
}

.header_para{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.header_email{
    height: 68px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.header_email-input {
    flex: 1;
    font-size: 16px;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    padding: 8px 0 8px 24px;
    border-radius: 75px;
    border: 2px solid rgba(128, 128, 128, 0.11);
    transition: all 300ms ease;
}

.header_email-input:hover {
    border-color: grey;
}

.header_email-input:focus {
    outline: none;
    border-color: rgb(100, 21, 255);
}


.header_email-btn {
    position: absolute;
    right: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(100, 21, 255); 
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0 36px;
    transition: all 300ms ease;
    margin: 6px;
    height: 52px;
}

.header_email-btn:hover {
    background-color: rgb(60, 20, 139);
}

.header_customer-title {
    margin-top: 76px;
    color:#243e63;
    opacity: 0.5;
    font-size: 12px;
    font-weight: bold;
}

.header_description-img {
    height: 35px;
    opacity: 0.5;
    margin-top: 20px;
}

.header_img-wrapper {
    width: 60%;
}

.header_img {
    margin-left: 24px;
    width: 100%;
}

.landing_blob {
    position: absolute;
    width: 256px;
    top: 290px;
    left: -170px;
    opacity: 0.05;
    z-index: -1;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 600;
}

.section_subtitle {
    font-size: 48px;
    margin-top: 24px;
    font-weight: 900;
}

.section_para {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    line-height: 31.5px;
    width: 55%;
    color: rgb(124, 139, 161);
    font-weight: 500;
}

.features {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
}

.feature_row {
    display: flex;
    padding: 32px 24px;
}

.feature_img {
    border: solid rgba(128, 128, 128, 0.1);
    border-radius: 50px;
    border-width: 1px;
    padding: 20px;
    height: 68px;
}

.feature_text {
    margin-top: 10px;
    margin-left: 18px;
}

.feature_para {
    margin-top: 20px;
    line-height: 2;
}

/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality_description {
    width: 50%;
    margin-right: 60px;
}

.quality_title {
    margin-top: 16px;
    margin-right: 40px;
    line-height: 1.25;
    letter-spacing: 1.5px;
}

.quality_para {
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

.quality_btn {
    color: white;
    font-weight: bold;
    background-color: #6415ff;
    border: none;
    padding: 12px 32px;
    border-radius: 30px;
    margin-top: 32px;
    cursor: pointer;
    transition: all 300ms ease;
}

.quality_btn:hover {
    background-color: rgb(60, 20, 139);
}

.quality_img-wrapper {
    width: 50%;
    margin: 0 60px;
    position: relative;
}

.quality_img {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 4px;
}

.quality_grid {
    width: 80px;
    position: absolute;
    bottom: -35px;
    right: -40px;
    z-index: -1;
    fill: rgb(100, 21, 255)
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps_img-wrapper{ 
    width: 50%;
    position: relative;
}

.steps_img {
    width: 100%;
}

.steps_grid {
    height: 80px;
    fill:rgb(100, 21, 255);
    position: absolute;
    left: 280px;
    bottom: -36px;
    opacity: 0.15;
    z-index: -1;
}

.steps_description {
    width: 50%;
    padding: 32px 0 32px 64px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step_number{
    font-size: 36px;
    font-weight: 600;
    color:rgba(203,213,224);
}

.step_description {
    margin-left: 24px;
    max-width: 320px;
}

.step_title {
    font-size: 20px;
    font-weight: 600;
}

.step_para {
    color: rgb(113, 128, 150);
    font-size: 14px;
    line-height: 28px;
    margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values_description {
    width: 50%;
    
}

.values_title {
    margin-top: 16px;
    margin-right: 40px;
    line-height: 1.25;
    letter-spacing: 1.5px;
}

.values_para {
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

.values_btn {
    color: white;
    font-weight: bold;
    background-color: #6415ff;
    border: none;
    padding: 12px 32px;
    border-radius: 30px;
    margin-top: 32px;
    cursor: pointer;
    transition: all 300ms ease;
}

.values_btn:hover {
    background-color: rgb(60, 20, 139);
}

.values_img-wrapper {
    width: 50%;
    margin: 0 60px;
    position: relative;
}

.values_img {
    width: 100%;
}

.values_list {
    display: flex;
}

.value {
    margin: 32px 32px 0 0;
}

.value_title {
    display: flex;
    align-items: center;
}

.value_img-wrapper {
    background-color: rgb(154, 230, 180);
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.value_img {
    height: 20px;
}

.value_name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.value_para {
    margin-top: 16px;
    color:rgb(113, 128, 150);
    line-height: 26px;
}

.red{
    background-color: rgb(254, 178, 178);
}

.second_value {
    margin-right: 0;
}

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    margin-top: 64px;
    margin-right: 32px;
    padding-top: 8px;
}

.plan_stripe {
    height: 8px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan_top {
    padding: 32px;
    border-left: 1px solid rgba(128, 128, 128, 0.25);
    border-right: 1px solid rgba(128, 128, 128, 0.25);
}

.plan_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
    text-align: center;
}

.plan_price {
    margin: 4px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
}

.plan_duration {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-align: center;
}

.plan_middle {
    padding: 32px;
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.plan_target {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
}

.plan_feature {
    margin-top: 20px;
    color: rgb(113, 128, 150);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.plan_bottom {
    padding: 32px 96px;
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.plan_button {
    padding: 16px 32px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    border: none;
    border-radius: 30px;
    color: white;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}

.testimonials_img {
    width: 640px;
}

.testimonial_description {
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    width: 640px;
}

.t_para {
    text-align: start;
    width: 100%;
}

.testimonial {
    margin-top: 40px;
}

.fa-star {
    margin: 4px 2px 0 0;
    color: rgb(246, 173, 85);
}

.testimonial_title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
}

.testimonial_para {
    margin: 16px 0 40px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.testimonial_bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial_profile {
    display: flex;
    align-items: center;
}

.testimonial_img {
    height: 80px;
    border-radius: 50%;
}

.testimonial_details {
    margin-left: 24px;
}

.testimonial_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.testimonial_role {
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 24px;
}

.testimonial_buttons {
    display: flex;
    align-items: center;
}

.testimonial_button {
    margin: 0 12px;
    padding: 16px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(237, 242, 247);
}

.divider {
    background-color: rgb(229, 231, 235);
    height: 24px;
    width: 1px;
}

/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    top: 90px;
    left: -90px;
    height: 320px;
    opacity: .5;
    z-index: 1;
}

.start__blob--2 {
    position: absolute;
    top: -250px;
    right: -90px;
    height: 320px;
    z-index: 1;
}

.start_container {
    padding: 96px 0;
    background-color: rgb(100, 21, 255);
}

.start_row {
    margin: 0 128px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start_title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    width: 480px;
    z-index: 2;
}

.start_buttons {
    display: flex;
    justify-content: flex-end;
    width: 480px;
}

.start_button {
    margin: 1px 32px 1px 1px;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 700;
    z-index: 2
}

.btn1 {
    background-color: rgb(245, 101, 101);
    border: none;
}

.btn2 {
    border: 1px solid rgb(160, 174, 192);
    background-color: rgb(100, 21, 255);
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    height: 360px;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: -150px;
    left: -120px;
}

.footer__blob--2 {
    height: 360px;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: -230px;
    right: -150px;
}

.footer_row {
    margin: 0 35px;
    width: 1280px;
}

.footer_columns {
    margin-top: -48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer_column-title {
    color: white;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer_column-link {
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: white;
    text-decoration: none;
}

.footer_divider {
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
    color: rgb(36, 62, 99);
    height: 2px;
    width: 1280px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_logo-img {
    height: 32px;
}

.footer_logo-text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.footer_copyright {
    color: rgb(203, 213, 224);
    font-weight: 500;
}

.footer_socials {
    margin-left: -16px;
    display: flex;
    align-items: center;
}

.footer_social-link {
    margin-left: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(36, 62, 99);
    background-color: rgb(247, 250, 252);
    cursor: pointer;
    border-radius: 50%;
}
/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}